{
 "cells": [
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "# {{ project_name }}\n",
    "{% if software_license != 'No License' %}",
    "This project is licensed under {{ software_license }} \n",
    "and was created by {{ owner }}.\n",
    "{% endif %}",
    "{% if software_license == 'No License' %}",
    "This projected was created by {{ owner }}.",
    "{% endif %}",
    "\n",
    "#### **Project purpose**\n",
    "\n",
    "{{ project_purpose }}\n",
    "\n",
    "## Table of Contents\n",
    "1. [Imports and Loading Data](#1-Imports-and-Loading-Data)\n",
    "2. [Data Preprocessing](#2-Data-Preprocessing)\n",
    "3. [Data Analysis](#3-Data-Analysis)\n",
    "4. [Modelling](#4-Modelling)\n",
    "5. [Results](#5-Results)\n",
    "6. [Conclusion](#6-Conclusion)\n",
    "\n"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "## 1. Imports and Loading Data\n"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": null,
   "metadata": {},
   "outputs": [],
   "source": [
    "# Importing packages\n",
    "# import pandas as pd\n",
    "# import numpy as np\n",
    "# import matplotlib"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": null,
   "metadata": {},
   "outputs": [],
   "source": [
    "# Code to load data\n",
    "# input_file_dir = 'data/input/my_file.csv'\n",
    "# df = pd.read_csv(input_file_dir)"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "## 2. Data Preprocessing\n",
    "Here you can add code for changing data type, renaming columns, checking for missing values, creating new columns, etc.\n"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": null,
   "metadata": {},
   "outputs": [],
   "source": [
    "# Code to preprocess data"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "## 3. Data Analysis\n"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": null,
   "metadata": {},
   "outputs": [],
   "source": [
    "# Code to analyze data"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "## 4. Modelling\n"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": null,
   "metadata": {},
   "outputs": [],
   "source": [
    "# Code to model data"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "## 5. Results\n",
    "Write about your results here."
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "## 6. Conclusion\n",
    "Add closing remarks and possible next steps in this section."
   ]
  }
 ],
 "metadata": {
  "language_info": {
   "name": "python"
  }
 },
 "nbformat": 4,
 "nbformat_minor": 2
}
